.calculadora {
    width: 200px;
    margin: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#tela {
    width: 100%;
    margin-bottom: 10px;
    padding: 4px;
    font-size: 16px;
    text-align: right;

}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 10px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button:hover {
    background-color: #f0f0f0;
}